@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.body{
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "League Spartan", sans-serif;
}

.aside{
    background-color: #A288A6;
    width: 5%;
    height: 100rem;
    z-index: 3;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    transition: 700ms ease-in-out;
}

.aside:hover{
    width: 25%;
    z-index: 3;
}

.main{
    margin: 1rem 0;
}

.header{
    border-bottom: 1px #CCBCBC solid;
    padding: 0 0 0.5rem ;
    font-weight: 800;
}

.col {
    padding-top: 1rem;
    text-align: left;
}

.section {
    padding-left: none;
}

.vr {
    border-left: 2px solid #CCBCBC;
}

.mb-3 {
    padding-top: 1rem;
}

.vl {
    border-left: 2px solid #CCBCBC;
    height: 50rem;
    position: absolute;
    left: 50%;
    top: 13;
}  

label {
    padding-top: 0.5rem;
    font-family: "League Spartan", sans-serif;
}

.form-label {
    font-family: "League Spartan", sans-serif;
}

.form-control {
    background-color: #f2f2f2;
    border-color: #CCBCBC;
    border-radius: 10px;
    font-family: "League Spartan", sans-serif;
}

.edit {
    background-color: #D9D9D9;
    border-color: 1px solid #BFBFBF;
    border-style: solid #bfbfbf;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    color: #555555;
    cursor: pointer;
}

.edit:hover {
    background-color: #BFBFBF;
    border-color: 1px solid #D9D9D9;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    color: #555555;
    cursor: pointer;
}

.save {
    background-color: #F1E3E4;
    border-color: 1px #CCBCBC;
    border-style: solid #CCBCBC;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    color: #CCBCBC;
    cursor: pointer;
}

.save:hover {
    background-color: #CCBCBC;
    border-color: 1px solid #F1E3E4;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    color: #F1E3E4;
    cursor: pointer;
}
