@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: #f2f2f2;
}

.menu-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
}

nav .btn{
    background-color: #CAE8F3;
}

nav {
    width: auto;
    height: auto;
    box-shadow: #a8a8a8 0.5rem 0.5rem 1rem;
    background-color: #CAE8F3;
}

.navbar-brand d-flexallign-items-center {
    text-align: center;
}

.navbar-text {
    color: #252525;
}

form .form-control {
    background-color: #f2f2f2;
}

form .form-control:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.input-group .btn {
    background-color: #f2f2f2;
}

.input-group .btn:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.btn-group .btn{
    color: #252525;
    border-radius: 50% 50% 50% 50%; 
    background-color: #CAE8F3; 
    border-color: #CAE8F3;
}

.btn-group, .btn:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

h1 {
    color: #6893EF;
    text-align: right;
}

.part1 {
    padding-bottom: 10%;
    width: auto;
}

.destaque-perfil {
    background-color: #f2f2f2;
    padding: 3%;
    text-align: center;
    height: 30%;
}

.img_destaque {
    width: 100%; 
    height: 45%; 
    overflow: hidden;
}

.card-destaque {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.perfil {
    background-color: #dddddd;
    border-radius: 25px;
    padding: 3%;
    height: 100%;
    padding-bottom: 10.5%;
    width: auto;
}

.perfil img {
    width: 60%;
    padding-bottom: 15%;
}

.perfil h1, h4 {
    text-align: left;
    padding: 3%;
}

.perfil h2 {
    padding: 5%;
}

.perfil .orientacoes {
    width: 70%;
    padding-top: 10%;
}

section {
    background-color: #F6E1E1;
    height: 20%;
}

@media screen and (max-width: 600px){
   /*for mobile*/
   .destaque-perfil {
    background-color: #f2f2f2;
    text-align: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .destaque-perfil img {
        width: 100%;
        padding-top: 7%;
        margin-bottom: none;
        padding-bottom: none;
    }

    .destaque-perfil .h2 {
        top: -70%;
    }

    .img_destaque {
        width: 100%; 
        height: 11%; 
        overflow: hidden;
        padding-top: 5%;
    }
    
    .card-destaque {
        width: 100%; 
        height: auto; 
        object-fit: cover;
    }

    .perfil {
        background-color: #dddddd;
        border-radius: 25px;
        border: 10px solid #f2f2f2;
        width: 100% !important;
        display: flex;
        flex-direction: column;
    }
    
    .perfil img {
        width: 70% !important;
        align-self: center;
    }
    
    .perfil h1, h4 {
        text-align: left;
    }

    .perfil h4 {
        font-size: small;
    }
    
    .perfil .orientacoes {
        width: 70%;
    }

    .avaliacoes img {
        padding: 3%;
    }

    .description {
        margin: 3%;
    }
}

.destaque-perfil {
    padding-bottom: -50%;
    min-height: 100vh;
}

.destaque-perfil h2 {
    text-align: left;
    font-size: x-large;
    font-weight: 700;
}

.cards-wrapper {
    width: 100%;
    height: 300px;
    max-width: 1570px;
    overflow-x: hidden;
    position: relative;
  }
  
  .cards {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-110px);
    display: flex;
    flex-direction: row;
    width: 4270px;
    justify-content: space-between;
  }
  
  .card {
    width: 220px;
    height: 260px;
    border-radius: 14px;
    border: none;
    font-family: "League Spartan", sans-serif;
    letter-spacing: 0.5px;
    display: inline;
    cursor: pointer;
    box-sizing: border-box;
    color: #000;
  }
  
  .card h4 {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: x-large;
    padding-top: 10%;
  }

  .cards button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon img {
    overflow: visible;
    stroke-width: 1.25em;
  }
  
  .cards-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1570px;
    height: 100%;
  
    pointer-events: none;
  }
  
  .arrow-btn {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0 6px 8px #00000030;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
  }
  
  .arrow-btn-next {
    left: auto;
    right: 20px;
  }
  
  .arrow-btn svg {
    fill: #333;
    position: absolute;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
  }
  
  .arrow-btn-next svg {
    transform: translate(-40%, -50%);
  }
  
.avaliacoes {
    padding-top: 5%;
}

.avaliacoes div {
    border-radius: 25px;
    border: 5px solid #f2f2f2;
}

.avaliacoes div img {
    width: 100%;

}

.avaliacoes .yellow {
    background-color: #FCE293;
    padding: 1%;
}

.yellow .description {
    border-radius: 25px;
    text-align: center !important;
    border: 0px solid #D6C07D !important;
}

.avaliacoes .yellow .description {
    background-color: #D6C07D;
    margin-top: 6%;
}

.avaliacoes .blue {
    background-color: #CAE8F3;
    padding: 1%;
}

.blue .description {
    border-radius: 25px;
    text-align: center !important;
    border: 0px solid #D6C07D !important;
}

.avaliacoes .blue .description {
    background-color: #6893EF;
    margin-top: 4%;
}

.avaliacoes .green {
    background-color: #B2E8A6;
    padding: 1%;
}

.green .description {
    border-radius: 25px;
    text-align: center !important;
    border: 0px solid #D6C07D !important;
}

.avaliacoes .green .description {
    background-color: #80A878;
    margin-top: 7%;
}

.avaliacoes .red {
    background-color: #E27B7B;
    padding: 1%;
}

.red .description {
    border-radius: 25px;
    text-align: center !important;
    border: 0px solid #B95F5F !important;
}

.avaliacoes .red .description {
    background-color: #B95F5F;
    margin-top: 7%;
}

footer {
    padding: 2rem;
    background-color: #F0CDCD;
}

footer img {
    padding-left: 0rem;
    padding-right: 5rem;
}

footer h6{
    color: #7a7a7a;
}

